<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lightbox2 Example</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  </head>
  <body>
    <h1>Lightbox2 Image Preview Example</h1>

    <!-- Add images with lightbox functionality -->
    <a
      href="path/to/image1.jpg"
      data-lightbox="gallery"
      data-title="Image 1 Description"
    >
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_clOnjT3OVlUAlQ2Dvdf7Xao3m2ETxXbcLA&s"
        alt="Thumbnail 1"
        style="width: 150px"
      />
    </a>
    <a
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_clOnjT3OVlUAlQ2Dvdf7Xao3m2ETxXbcLA&s"
      data-lightbox="gallery"
      data-title="Image 2 Description"
    >
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_clOnjT3OVlUAlQ2Dvdf7Xao3m2ETxXbcLA&s"
        alt="Thumbnail 2"
        style="width: 150px"
      />
    </a>
    <a
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_clOnjT3OVlUAlQ2Dvdf7Xao3m2ETxXbcLA&sng"
      data-lightbox="gallery"
      data-title="Image 3 Description"
    >
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_clOnjT3OVlUAlQ2Dvdf7Xao3m2ETxXbcLA&s"
        alt="Thumbnail 3"
        style="width: 150px"
      />
    </a>

    <!-- Link to Lightbox2 JavaScript -->
  </body>
</html>
