<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="mobile">
  <head>
    <meta charset="UTF-8" />
    <title>Tạp Hoá IT</title>
    <link
            rel="shortcut icon"
            type="image/png"
            th:href="@{/assets/img/logoit3.png}"
    />
    <link th:href="@{/assets/css/login.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

  </head>
  <body style="background: #34a76d" class="pagination justify-content-center">
    <div class="container" id="container" style="width: 384px">
      <div class="form-container sign-in-container" style="width: 100%">
        <form enctype="multipart/form-data">
          <h1>Đổi mật khẩu</h1>
          <input
            th:if="${resetPassword} == null"
            type="password"
            name="oldpassword"
            placeholder="Mật khẩu cũ"
            required=""
          />
          <input
            type="password"
            name="newpassword"
            placeholder="Mật khẩu mới"
            required=""
          />
          <input
            type="password"
            name="confirmpassword"
            placeholder="Xác nhận mật khẩu mới"
            required=""
          />
          <button  type="button" th:attr="onclick=|changeUserPassword('${email}')|">Xong</button>
        </form>
      </div>
    </div>

    <script src="/assets/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/assets/callAPI/sendAPI.js}"></script>
    <script th:src="@{/assets/callAPI/UserAPI.js}"></script>
  </body>
</html>
