<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tạp Hoá IT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link
      rel="shortcut icon"
      type="image/png"
      th:href="@{/assets/img/logoit3.png}"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <!-- Libraries Stylesheet -->
    <link
      th:href="@{/assets/lib/lightbox/css/lightbox.min.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div th:replace="~{fragment/navbar.html :: navbar}"></div>
    <!-- Navbar End -->

    <!-- Cart Page Start -->
    <div class="container-fluid py-5 mb-5 ">
      <div class="container py-5">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sản phấm</th>
                <th scope="col">Tên</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Giảm</th>
                <th scope="col">Thành tiền</th>
<!--                <th scope="col">Mua</th>-->
                <th scope="col">Xóa</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cart: ${carts}">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img
                      th:src="${#strings.contains(cart.ProductCart.Image?.ImageCode, 'https') ? cart.ProductCart.Image.ImageCode : '/ImageProduct/' + cart.ProductCart.Image.ImageCode}"
                      th:alt="${cart.ProductCart.Image?.ImageCode}"
                      class="img-fluid me-5 rounded-circle"
                      style="width: 80px; height: 80px"
                    />
                  </div>
                </th>
                <td>
                  <a th:href="@{/detail/{id}(id=${cart.ProductCart.productID})}">
                    <h5 class="mb-0 mt-4 font-size-16 text-dark"
                        style="max-width: 300px;
                              display: -webkit-box;
                              -webkit-line-clamp: 2;
                              -webkit-box-orient: vertical;
                              overflow: hidden;
                              min-height: 90px;"
                        th:text="${cart.ProductCart.ProductName}">
                    </h5>
                  </a>
                  <p
                          class="mb-0 mt-4"
                          th:text="${#numbers.formatDecimal(cart.ProductCart.UnitPrice, 1, 'COMMA', 0, 'POINT')} + ' VND x ' + ${cart.Quantity}"
                  >
                    ">
                  </p>
                </td>
                <td>
                  <p
                          class="mb-0 mt-4"
                          th:text="${#numbers.formatDecimal(cart.ProductCart.UnitPrice*cart.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                  ></p>
                </td>
                <td>
                  <p
                          class="mb-0 mt-4"
                          th:text="${cart.ProductCart.Discount} != null
                                             ? '-'+${#numbers.formatDecimal(cart.ProductCart.UnitPrice * (cart.ProductCart.Discount.Percentage) / 100*cart.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'
                                             : '0 VND'"
                  ></p>
                </td>
                <td>
                  <p
                    class="mb-0 mt-4"
                    th:text="${cart.ProductCart.Discount} != null
                                             ? ${#numbers.formatDecimal(cart.ProductCart.UnitPrice * (100 - cart.ProductCart.Discount.Percentage) / 100*cart.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'
                                             : ${#numbers.formatDecimal(cart.ProductCart.UnitPrice*cart.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                  ></p>
                </td>
                <td>
                  <a
                    th:attr="onclick=|deleteProinCart('${cart.ProductCart.ProductID}')|"
                    class="btn btn-md rounded-circle bg-light border mt-4"
                  >
                    <i class="fa fa-times text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row g-4 justify-content-end">
          <div class="col-8"></div>
          <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
            <div class="bg-light rounded">
              <div class="p-4">
                <h1 class="display-6 mb-4">Giỏ hàng</h1>
                <div class="d-flex justify-content-between mb-4">
                  <h5 class="mb-0 me-4">Tổng tiền:</h5>
                  <p
                    class="mb-0"
                    th:text="${#numbers.formatDecimal(totalAmount, 1, 'COMMA', 0, 'POINT')}+'đ'"
                  ></p>
                </div>
                <div class="d-flex justify-content-between">
                  <h5 class="mb-0 me-4">Số sản phẩm:</h5>
                  <div class="">
                    <p class="mb-0" th:text="${quantity}"></p>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <a th:href="@{/checkout}">
                  <button
                    class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                    type="button"
                  >
                    Thanh toán
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart Page End -->

    <!-- footer -->
    <div th:replace="~{fragment/footer.html}"></div>
    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
      style="display: none"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/assets/lib/easing/easing.min.js}"></script>
    <script th:src="@{/assets/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/assets/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/callAPI/ProductAPI.js}"></script>
  </body>
</html>
