<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="mobile">
  <head>
    <meta charset="UTF-8" />
    <title>Tạp Hoá IT</title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            rel="shortcut icon"
            type="image/png"
            th:href="@{/assets/img/logoit3.png}"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <!-- Icon Font Stylesheet -->
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form id="signUpForm">
          <h1>Tạo tài khoản</h1>
          <input type="text" placeholder="Họ tên" name="UserName" required />
          <input type="text" placeholder="Số điện thoại" name="Phone" required />
          <input type="email" placeholder="Email" name="Email" required />
          <input
            type="password"
            placeholder="Mật khẩu"
            name="Password"
            required
          />
          <button>Đăng ký</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form id="loginForm">
          <h1>Đăng nhập</h1>
          <div class="social-container">
            <a th:href="@{/oauth2/authorization/google}" class="social"><i class="fab fa-google-plus-g"></i></a>
          </div>
          <span>Có thể sử dụng tài khoản google</span>
          <input type="email" name="username" placeholder="Email" required />
          <input
            type="password"
            name="password"
            placeholder="Mật khẩu"
            required
          />
          <a href="javascript:void(0);" onclick="resetPassword()">Quên mật khẩu?</a>
          <button>Đăng nhập</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Chào mừng bạn đã trở lại!</h1>
            <br>
            <button class="ghost" id="signIn">Đăng nhập</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Chào mừng bạn đến với Tạp Hóa IT!</h1>
            <p>Hãy tạo tài khoản để có thể mua hàng</p>
            <button class="ghost" id="signUp">Đăng ký</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/assets/js/login.js}"></script>
    <script th:src="@{/assets/callAPI/UserAPI.js}"></script>
    <script th:src="@{/assets/callAPI/LoginAPI.js}"></script>
    <script th:src="@{/assets/callAPI/signup.js}"></script>
  </body>
</html>
