<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Tạp Hóa IT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Libraries Stylesheet -->
    <link
      th:href="@{/assets/lib/lightbox/css/lightbox.min.css}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{/asset-admin/css/table.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
      id="spinner"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div th:replace="~{fragment/navbar.html :: navbar}"></div>
    <!-- Navbar End -->
    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="tab-class text-center">
          <div class="row g-4">
            <div class="col-lg-4 text-start">
              <h1>Đơn hàng</h1>
            </div>
          </div>
          <div class="table-responsive">
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Mã hóa đơn</th>
                  <th>Ngày mua</th>
                  <th>Ngày giao</th>
                  <th>Tổng tiền</th>
                  <th>Phí vận chuyển</th>
                  <th>Thành tiền</th>
                  <th>Trạng thái</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="order : ${listOrder}">
                  <td th:text="${order.OrderID}"></td>
                  <td th:text="${order.OrderDate}"></td>
                  <td th:text="${order.DeliveryTime}"></td>
                  <td
                    th:text="${#numbers.formatDecimal(order.TransportFee, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                  ></td>
                  <td
                    th:text="${#numbers.formatDecimal(order.TotalPrice, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                  ></td>
                  <td
                    th:text="${#numbers.formatDecimal(order.TotalPrice + order.TransportFee, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                  ></td>
                  <td th:text="${order.Status}"></td>
                  <td>
                    <a
                      th:href="@{/yourOrder/updateorder(action='edit', orderID=${order.OrderID})}"
                      class="btn btn-info"
                      th:text="${order.Status == 'Chờ xác nhận' ? 'Update' : 'Infor'}"
                    ></a>
                  </td>
                  <td>
                    <a
                      class="btn btn-danger no-change"
                      th:if="${order.Status == 'Chờ xác nhận'}"
                      th:attr="onclick=|deleteOrder('${order.OrderID}')|"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <div class="tab-class text-center">
          <div class="row g-4">
            <div class="col-lg-4 text-start">
              <h1>Coupon</h1>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Mã coupon</th>
                  <th>Giảm</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="coupon : ${listCoupon}">
                  <td th:text="${coupon.couponUser.couponID}"></td>
                  <td th:text="${coupon.couponUser.percentage}+'%'"></td>
                  <td th:text="${coupon.quantity}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Fruits Shop End-->
    <!-- Modal Search Start -->
    <div
      aria-hidden="true"
      aria-labelledby="exampleModalLabel"
      class="modal fade"
      id="searchModal"
      tabindex="-1"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Search by keyword
            </h5>
            <button
              aria-label="Close"
              class="btn-close"
              data-bs-dismiss="modal"
              type="button"
            ></button>
          </div>
          <div class="modal-body d-flex align-items-center">
            <div class="input-group w-75 mx-auto d-flex">
              <input
                aria-describedby="search-icon-1"
                class="form-control p-3"
                placeholder="keywords"
                type="search"
              />
              <span class="input-group-text p-3" id="search-icon-1"
                ><i class="fa fa-search"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Search End -->

    <!-- Footer Start -->
    <div th:replace="~{fragment/footer.html}"></div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a
      class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
      href="#"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:src="@{/assets/lib/easing/easing.min.js}"></script>
    <script th:src="@{/assets/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/assets/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/assets/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/callAPI/SendAPI.js}"></script>
    <script th:src="@{/assets/callAPI/OrderAPI.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/asset-admin/js/table.js}"></script>
  </body>
</html>
