
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Tạp Hoá IT</title>
    <link
            rel="shortcut icon"
            type="image/png"
            th:href="@{/assets/img/logoit3.png}"
    />
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link
            href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <!-- Libraries Stylesheet -->
    <link
            rel="stylesheet"
            th:href="@{/assets/lib/lightbox/css/lightbox.min.css}"
    />
    <link
            rel="stylesheet"
            th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>

    <!-- Template Stylesheet -->
    <link rel="stylesheet" th:href="@{/asset-admin/css/table.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

</head>

<body>
<!-- Spinner Start -->
<div
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
        id="spinner"
>
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Navbar start -->
<div th:replace="~{fragment/navbar_admin.html}"></div>
<!-- Navbar End -->
<!-- Fruits Shop Start-->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <h1 class="mb-4">Thông tin sản phẩm</h1>
        <form th:object="${Order}" >
            <div class="row  justify-content-center">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item ">
                        <label class="form-label my-3">Mã hoá đơn<sup>*</sup></label>
                        <input type="text" class="form-control"  name="OrderID"  th:value="${OrderID}" required   readonly />
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Khách hàng<sup>*</sup></label>
                        <input type="text" class="form-control"  name="UserID" th:value="${UserID.Username}"  required  readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Nhân viên bán hàng<sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example"  name="SellerID" required>
                            <option></option>
                            <option  th:each="seller : ${listSeller}" th:value="${seller.UserID}" th:text="${seller.Username}" th:selected="${seller.Username == sellerName} "></option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Nhân viên giao hàng<sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example"  name="ShipperID" required >
                            <option></option>
                            <option  th:each="shipper : ${listShipper}" th:value="${shipper.UserID}" th:text="${shipper.Username}" th:selected="${shipper.Username == shipperName}"></option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Ngày đặt hàng<sup>*</sup></label>
                        <input type="date" class="form-control" name="OrderDate"   th:value="${OrderDate}" required readonly />
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Ngày giao<sup>*</sup></label>
                        <input type="date" class="form-control" name="DeliveryTime"   th:value="${DeliveryTime}" required th:readonly="${session.UserLoginRole == 'SHIPPER'}"/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Họ tên người nhận<sup>*</sup></label>
                        <input type="text" class="form-control" name="Name" th:value="${Name}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
                        <input type="text" class="form-control" name="Phone" th:value="${Phone}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Địa chỉ giao hàng<sup>*</sup></label>
                        <input type="text" class="form-control" name="Address" th:value="${Address}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Tổng tiền<sup>*</sup></label>
                        <input type="text" class="form-control" name="TotalPrice" th:value="${#numbers.formatDecimal(TotalPrice,1,'COMMA',0,'POINT')}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Phí vận chuyển<sup>*</sup></label>
                        <input type="text" class="form-control" name="TransportFee" th:value="${#numbers.formatDecimal(TransportFee,1,'COMMA',0,'POINT')}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Thành tiền<sup>*</sup></label>
                        <input type="text" class="form-control"  th:value="${#numbers.formatDecimal(TransportFee+ TotalPrice,1,'COMMA',0,'POINT')}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Hình thức thanh toán<sup>*</sup></label>
                        <input type="text" class="form-control"  name="paymentMethod" th:value="${paymentMethod}" required readonly/>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Trạng thái thanh toán<sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example"  name="paymentStatus" required>
                            <option></option>
                            <option  th:selected="${paymentStatus == 'Chưa thanh toán'}">Chưa thanh toán</option>
                            <option  th:selected="${paymentStatus == 'Đã thanh toán'}">Đã thanh toán</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Trạng thái Đơn hàng<sup>*</sup></label>
                        <select class="form-select" aria-label="Default select example"  name="Status" required>
                            <option></option>
                            <option  th:selected="${Status == 'Chờ xác nhận'}">Chờ xác nhận</option>
                            <option  th:selected="${Status == 'Đã xác nhận'}">Đã xác nhận</option>
                            <option  th:selected="${Status == 'Đang giao'}">Đang giao</option>
                            <option  th:selected="${Status == 'Hoàn thành'}">Hoàn thành</option>
                        </select>
                    </div>
                    <br>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sản phấm</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Thương hiệu</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Giảm</th>
                            <th scope="col">Thành tiền</th>
                            <!--                <th scope="col">Mua</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderdetail: ${listOrderDetail}">
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img
                                            th:src="${#strings.contains(orderdetail.productOrder.Image?.ImageCode, 'https') ? orderdetail.productOrder.Image.ImageCode : '/ImageProduct/' + orderdetail.productOrder.Image.ImageCode}"
                                            th:alt="${orderdetail.productOrder.Image?.ImageCode}"
                                            class="img-fluid me-5 rounded-circle"
                                            style="width: 80px; height: 80px"
                                    />
                                </div>
                            </th>
                            <td>
                                <a th:href="@{/detail/{id}(id=${orderdetail.productOrder.productID})}">
                                    <h5 class="mb-0 mt-4 font-size-16 text-dark"
                                        style="max-width: 300px; word-wrap: break-word"
                                        th:text="${orderdetail.productOrder.ProductName}">
                                    </h5>
                                </a>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${#numbers.formatDecimal(orderdetail.productOrder.UnitPrice, 1, 'COMMA', 0, 'POINT')} + ' VND x ' + ${orderdetail.Quantity}"
                                >
                                    ">
                                </p>
                            </td>
                            <td>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${orderdetail.productOrder.category.categoryName}"
                                ></p>
                            </td>
                            <td>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${orderdetail.productOrder.brand.brandName}"
                                ></p>
                            </td>
                            <td>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${#numbers.formatDecimal(orderdetail.productOrder.UnitPrice*orderdetail.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                                ></p>
                            </td>
                            <td>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${orderdetail.productOrder.Discount} != null
                                             ? '-'+${#numbers.formatDecimal(orderdetail.productOrder.UnitPrice * (orderdetail.productOrder.Discount.Percentage) / 100*orderdetail.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'
                                             : '0 VND'"
                                ></p>
                            </td>
                            <td>
                                <p
                                        class="mb-0 mt-4"
                                        th:text="${orderdetail.productOrder.Discount} != null
                                             ? ${#numbers.formatDecimal(orderdetail.productOrder.UnitPrice * (100 - orderdetail.productOrder.Discount.Percentage) / 100*orderdetail.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'
                                             : ${#numbers.formatDecimal(orderdetail.productOrder.UnitPrice*orderdetail.Quantity, 1, 'COMMA', 0, 'POINT')} + ' VND'"
                                ></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-7 d-flex justify-content-end" style="width: 100%">
                    <button
                            type="button"
                            class="btn btn-success mt-2 me-2"
                            th:if="${Status != 'Hoàn thành'}"
                            th:attr="onclick=|sendOrderData('${checkOrder == null ? 'insert' : 'update'}')|">
                        Save
                    </button>
                    <a href="Order?action=list" class="btn btn-secondary mt-2">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Modal Search Start -->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalLabel"
        class="modal fade"
        id="searchModal"
        tabindex="-1"
>
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Search by keyword
                </h5>
                <button
                        aria-label="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"
                ></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input
                            aria-describedby="search-icon-1"
                            class="form-control p-3"
                            placeholder="keywords"
                            type="search"
                    />
                    <span class="input-group-text p-3" id="search-icon-1"
                    ><i class="fa fa-search"></i
                    ></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Footer Start -->
<div th:replace="~{fragment/footer.html}"></div>
<!-- Back to Top -->
<a
        class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
        href="#"
><i class="fa fa-arrow-up"></i
></a>

<!-- JavaScript Libraries -->
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script  src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script  src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>

<script th:src="@{/assets/lib/easing/easing.min.js}"></script>
<script th:src="@{/assets/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/assets/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/assets/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Template Javascript -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/asset-admin/js/table.js}"></script>
<script th:src="@{/assets/callAPI/SendAPI.js}"></script>
<script th:src="@{/assets/callAPI/OrderAPI.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var success = [[${successMessage}]];
    if (success) {
        Swal.fire({
            icon: 'success',
            title: 'Thông báo.',
            text: success
        });
    }
    var error = [[${errorMessage}]];
    if (error) {
        Swal.fire({
            icon: 'error',
            title: 'Thông báo.',
            text: success
        });
    }
</script>
</body>
</html>
